/* ------------------------------------
   共通
   ------------------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	background: #FFFFFD;
}

.only-pc {
	display: block;
	width: 100%;
}

.only-sp {
	display: none;
}

@media screen and (max-width:650px) {
	.only-pc {
		display: none;
	}

	.only-sp {
		display: block;
	}
}

p {
	font-size: 2rem;
	line-height: 3rem;
	color: #363636;
	margin-top: 1rem;
}

.fs-18 {
	font-size: 1.8em;
}

.fs-15 {
	font-size: 1.5em;
}

.fs-85 {
	font-size: 0.85em;
}

a {
	color: #363636;
	transition: all .4s;
}

a:hover {
	opacity: 0.6;
}

.fw-bold {
	font-weight: bold;
}

.fw-normal {
	font-weight: normal;
}

.clear {
	clear: both;
}

.center {
	width: 100%;
	padding-top: 10px;
	display: block;
	text-align: center;
	margin: 0 auto;
}

.ta-center {
	text-align: center;
}

.ta-right {
	text-align: right;
}

.ta-left {
	text-align: left;
}

.pt-10 {
	padding-top: 10px;
}

.pt-20 {
	padding-top: 20px;
}

.pt-30 {
	padding-top: 30px;
}

.pt-40 {
	padding-top: 40px;
}

.pt-50 {
	padding-top: 50px;
}

.pt-60 {
	padding-top: 60px;
}

.pb-10 {
	padding-bottom: 10px;
}

.pb-20 {
	padding-bottom: 20px;
}

.pb-30 {
	padding-bottom: 30px;
}

.pb-40 {
	padding-bottom: 40px;
}

.pb-50 {
	padding-bottom: 50px;
}

.pb-60 {
	padding-bottom: 60px;
}

.pl-10 {
	padding-left: 10px;
}

.pl-20 {
	padding-left: 20px;
}

.pl-30 {
	padding-left: 30px;
}

.pl-40 {
	padding-left: 40px;
}

.pl-50 {
	padding-left: 50px;
}

.pl-60 {
	padding-left: 60px;
}

.pr-10 {
	padding-right: 10px;
}

.pr-20 {
	padding-right: 20px;
}

.pr-30 {
	padding-right: 30px;
}

.pr-40 {
	padding-right: 40px;
}

.pr-50 {
	padding-right: 50px;
}

.pr-60 {
	padding-right: 60px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-60 {
	margin-top: 60px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-60 {
	margin-bottom: 60px;
}

.ml-10 {
	margin-left: 10px;
}

.ml-20 {
	margin-left: 20px;
}

.ml-30 {
	margin-left: 30px;
}

.ml-40 {
	margin-left: 40px;
}

.ml-50 {
	margin-left: 50px;
}

.ml-60 {
	margin-left: 60px;
}

.mr-10 {
	margin-right: 10px;
}

.mr-20 {
	margin-right: 20px;
}

.mr-30 {
	margin-right: 30px;
}

.mr-40 {
	margin-right: 40px;
}

.mr-50 {
	margin-right: 50px;
}

.mr-60 {
	margin-right: 60px;
}

.con980 {
	width: 980px;
	margin: 0 auto;
}

.con1300 {
	width: 1300px;
	margin: 0 auto;
}

h1 {
	width: 1300px;
	margin: 0 auto;
	margin-top: 30px;
	padding: 30px 0 0;
	font-size: 3rem;
	border-bottom: solid 3px #272343;
	position: relative;
}

h1:after {
	position: absolute;
	content: " ";
	display: block;
	border-bottom: solid 3px #FFEF65;
	bottom: -3px;
	width: 30%;
}

h2 {
	font-size: 2.8rem;
	display: flex;
	align-items: center;
	text-align: left;
	width: 100%;
}

h2::after {
	content: "";
	flex: 1;
	height: 14px;
	margin-left: 5px;
	background-color: #26C6DA;
}

h3 {
	background: #FFF6C5;
	font-size: 2rem;
	color: #363636;
	padding: 10px 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

h4 {
	font-size: 2.8rem;
	font-weight: bold;
}

h5 {
	font-size: 2rem;
	font-weight: bold;
}

table.table_type01,
table.table_type02,
table.table_type03 {
	font-size: 2rem;
	border-collapse: 2px;
	border: none;
}

table.table_type02,
table.table_type03 {
	width: 100%;
}

table.table_type03 th,
table.table_type03 td {
	background: #DDDDDD;
	color: #363636;
	font-weight: 100;
	padding: 20px;
}

table.table_type03 .jissi {
	background: #26C6DA;
	font-weight: bold;
}

table.table_type01 th,
table.table_type01 td {
	border: 1px solid #363636;
	padding: 20px;
}

table.table_type01 th {
	background: #DDDDDD;
}

table.table_type01 img {
	width: 20px;
}

.juui {
	background: #FFB74D;
	font-size: 2rem;
	padding: 2px 20px;
	border-radius: 5px;
}

.kangoshi {
	background: #FFEF65;
	font-size: 2rem;
	padding: 2px 20px;
	border-radius: 5px;
}

.trimmer {
	background: #26C6DA;
	font-size: 2rem;
	padding: 2px 20px;
	border-radius: 5px;
}

table.table_type02 th {
	border: 1px solid #363636;
	background: #DDDDDD;
	padding: 20px 0;
	text-align: center;
	font-weight: bold;
}

table.table_type02 td {
	border: 1px solid #363636;
	padding: 2px;
	position: relative;
}

table.table_type04,
table.table_type05 {
	font-size: 2rem;
}

.table_type04 th {
	background: #DDDDDD;
	border: none;
	color: #363636;
	font-weight: bold;
	padding: 20px;
	text-align: left;
}

.table_type04 td {
	border: none;
	padding: 20px;
}

.table_type05 {
	border-collapse: collapse;
	width: 100%;
}

.table_type05 .thead th {
	background: #DDDDDD;
	font-weight: bold;
	text-align: center;
}

.table_type05 th {
	background: #FFFFFF;
	font-weight: normal;
	text-align: left;
}

.table_type05 th,
.table_type05 td {
	padding: 20px;
	border: solid 1px #707070;
}

@media screen and (max-width: 700px) {
	h1 {
		font-size: 2.8rem;
	}

	h3 {
		font-size: 1.8rem;
	}

	h2,h4 {
		font-size: 2.2rem;
	}

	p {
		font-size: 1.8rem;
		line-height: 2.8rem;
	}

	table.table_type01,
	table.table_type02,
	table.table_type03,
	table.table_type04,
	table.table_type05 {
		font-size: 1.5rem !important;
	}

	table.table_type01 {
		width: 100%;
	}

	table.table_type01 th,
	table.table_type01 td {
		padding: 10px;
	}

	table.table_type01 img {
		width: 100%;
	}

	.table_type05 {
		width: 100%;
		margin: 0 auto;
	}

	.table_type05 .thead {
		display: none;
	}

	.table_type05 td {
		display: block;
		text-align: right;
		width: 100%;
		font-size: 1.5rem;
		padding: 20px 10px;
	}

	.table_type05 th {
		background: #DDDDDD;
		color: #363636;
		font-weight: bold;
		text-align: center;
		width: 100%;
		display: block;
		font-size: 1.8rem;
		padding: 20px 10px;
	}

	.table_type05 td:before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
		margin-right: 10px;
		font-size: 1.5rem;
	}
}

.box-warraper {
	margin: 0 auto;
	text-align: center;
	flex-wrap: wrap;
	display: flex;
}

.box {
	border: 1px solid #363636;
	padding: 20px;
}

.box_type02 {
	background: #DDDDDD;
	padding: 20px;
	position: relative;
}

.box_type02 .title {
	position: absolute;
	top: -2rem;
	left: 2rem;
	font-size: 2.8rem;
	font-weight: bold;
}

.box-2 {
	width: calc(50% - 2rem);
	margin: 0 1rem;
	vertical-align: top;
}

.box-3 {
	display: inline-block;
	width: calc(33.3% - 2rem);
	margin: 0 0.5rem;
	vertical-align: top;
}

.box-3 .btn {
	display: block;
	width: 80%;
	background: #005C82;
	color: #FFFFFF;
	font-size: 2rem;
	font-weight: bold;
	text-decoration: none;
	margin: 0 auto;
	padding: 15px 20px;
	border-radius: 20px;
}

.box-4 {
	display: inline-block;
	width: calc(40% - 2rem);
	margin: 0 0.5rem;
	vertical-align: top;
}

.box-6 {
	display: inline-block;
	width: calc(60% - 2rem);
	margin: 0 0.5rem;
	vertical-align: top;
}

.box-7 {
	display: inline-block;
	width: calc(70% - 2rem);
	margin: 0 0.5rem;
	vertical-align: top;
}

.bg-g {
	background: #DDDDDD;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

ul {
	font-size: 2rem;
	list-style: none;
	text-indent: -2rem;
	margin: 1rem 3rem;
}

ul li {
	margin-bottom: 5px;
}

ul li::before {
	text-indent: 2rem;
}

ul.dots {
	font-size: 2rem;
	text-indent: -2rem;
}

ul.dots li::before {
	text-indent: 1rem;
	content: "・";
}

.fc-orange {
	color: #FFB74D;
	font-weight: bold;
}

.fc-red {
	color: #D81010;
	font-weight: bold;
}

@media screen and (max-width: 1300px) {
	h1 {
		width: 90%;
	}

	.con1300 {
		width: 90%;
	}
}

@media screen and (max-width: 640px) {
	.box-warraper {
		display: block;
	}

	.box-2 {
		width: 100%;
		margin: 20px auto;
	}

	.box-3,
	.box-4,
	.box-6,
	.box-7 {
		width: 100%;
		margin: 20px auto;
	}

	table.table_type04 {
		width: 100%;
		margin: 0 auto;
	}

	.table_type04 th,
	.table_type04 td {
		border-bottom: none;
		display: block;
		width: 100%;
		padding: 20px 10px;
	}

	ul, ul.dots {
		font-size: 1.8rem;
	}
}

/* ------------------------------------
   上に戻るボタン
   ------------------------------------*/
#page_top {
	width: 50px;
	height: 50px;
	position: fixed;
	right: 25px;
	bottom: 50px;
	background: #26C6DA;
	border-radius: 50%;
	opacity: 0;
	transform: translateY(100px);
}

#page_top a {
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	text-decoration: none;
}

#page_top a::before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: '\f102';
	font-size: 25px;
	color: #fff;
	position: absolute;
	width: 25px;
	height: 25px;
	top: -5px;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	text-align: center;
}

#page_top.UpMove {
	animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
	from {
		opacity: 0;
		transform: translateY(100px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/*　下に下がる動き　*/

#page_top.DownMove {
	animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
	from {
		opacity: 1;
		transform: translateY(0);
	}

	to {
		opacity: 1;
		transform: translateY(100px);
	}
}

/* ------------------------------------
   TOP header
   ------------------------------------*/
.top {
	width: 100%;
}

.logo {
	float: left;
	width: 20%;
}

.logo img {
	width: 60%;
}

.logo a:hover {
	opacity: 0.7;
}

.yoyaku_button {
	display: block;
	float: right;
	width: 150px;
	background-color: #26C6DA;
	font-size: 2rem;
	padding: 20px 5px;
	text-align: center;
	transition: all 0.3s;
}

.yoyaku_button a {
	color: #FFF;
}

.yoyaku_button:hover, .yoyaku_button a:hover {
	opacity: 0.7;
}

.yoyakubotton::after {
	float: none;
}

.nav {
	display: block;
	width: 100%;
	clear: both;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #000;
	z-index: 100;
}

.nav ul {
	list-style-type: none;
}

.nav li {
	display: inline-block;
	width: 16%;
	-webkit-transform: skewX(150deg);
	-moz-transform: skewX(150deg);
	transform: skewX(150deg);
	border-right: 1px solid #000;
	text-align: center;
}

.nav li:last-child {
	border-right: none;
}

.nav a {
	display: block;
	transform: skewX(-150deg);
	padding: 0 10px;
	font-size: 2rem;
	font-weight: bold;
	text-decoration: none;
	transition: all .3s;
}

.nav a:hover, .nav .here a:hover {
	color: #FFB74D;
}

.nav .here a {
	color: #26C6DA;
	padding: 0;
}



@media screen and (max-width: 980px) {
	.logo {
		width: 60%;
	}

	.con980 {
		width: 95%;
		margin: 0 auto;
	}

	.nav a {
		font-size: 1.5rem;
	}

	.yoyaku_button {
		width: 100px;
		font-size: 2rem;
	}
}

@media screen and (max-width: 640px) {

	.nav {
		display: none;
	}

	.yoyaku_button {
		display: none;
	}

}

/*---------------------
  ハンバーガーメニュー
  ---------------------*/
.hamburger-menu {
	display: none;
}

@media screen and (max-width: 640px) {
	.hamburger-menu {
		display: block;
	}

	.menu-btn {
		position: fixed;
		top: 10px;
		right: 10px;
		display: flex;
		height: 60px;
		width: 60px;
		justify-content: center;
		align-items: center;
		z-index: 90;
		background-color: #26C6DA;
	}

	.menu-btn span,
	.menu-btn span:before,
	.menu-btn span:after {
		content: '';
		display: block;
		height: 3px;
		width: 25px;
		border-radius: 3px;
		background-color: #ffffff;
		position: absolute;
	}

	.menu-btn span:before {
		bottom: 8px;
	}

	.menu-btn span:after {
		top: 8px;
	}

	#menu-btn-check:checked~.menu-content {
		left: 0;
		/*メニューを画面内へ*/
	}

	#menu-btn-check:checked~.menu-btn span {
		background-color: rgba(255, 255, 255, 0);
		/*メニューオープン時は真ん中の線を透明にする*/
	}

	#menu-btn-check:checked~.menu-btn span::before {
		bottom: 0;
		transform: rotate(45deg);
	}

	#menu-btn-check:checked~.menu-btn span::after {
		top: 0;
		transform: rotate(-45deg);
	}

	#menu-btn-check {
		display: none;
	}

	.menu-content {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 100%;
		z-index: 80;
		background-color: #26C6DA;
		transition: all 0.5s;
	}

	.menu-content ul {
		padding: 70px 10px 0;
	}

	.menu-content ul li {
		border-bottom: solid 1px #ffffff;
		list-style: none;
	}

	.menu-content ul li a {
		display: block;
		width: 100%;
		font-size: 18px;
		box-sizing: border-box;
		color: #ffffff;
		text-decoration: none;
		padding: 9px 15px 10px 0;
		position: relative;
	}

	.menu-content ul li a::before {
		content: "";
		width: 7px;
		height: 7px;
		border-top: solid 2px #ffffff;
		border-right: solid 2px #ffffff;
		transform: rotate(45deg);
		position: absolute;
		right: 11px;
		top: 16px;
		transition: all .2s;
	}

	.menu-content ul li a:hover::before {
		right: 6px;
	}

}

/* ------------------------------------
   slidshow
   ------------------------------------*/

ul.slider {
	padding: 0;
}

.slider {
	position: relative;
	z-index: 1;
	width: 80%;
	height: 100vh;
	margin: 0 auto;
}

/*　背景画像設定　*/
.slider-item01 {
	background: url(image/image01.jpg);
}

.slider-item02 {
	background: url(image/image02.jpg);
}

.slider-item03 {
	background: url(image/image03.jpg);
}

.slider-item {
	width: 60%;
	height: 80vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/*矢印の設定*/
.slick-prev,
.slick-next {
	content: '▼';
	position: absolute;
	z-index: 3;
	top: 40%;
	cursor: pointer;
	outline: none;
	border-top: 2px solid #363636;
	border-right: 2px solid #363636;
	height: 25px;
	width: 25px;
}

.slick-prev {
	left: 2.5%;
	transform: rotate(-135deg);
}

.slick-next {
	right: 2.5%;
	transform: rotate(45deg);
}

.slick-dots {
	position: relative;
	z-index: 3;
	text-align: center;
	margin: -50px 0 0 0;
}

.slick-dots li {
	display: inline-block;
	margin: 0 5px;
}

.slick-dots button {
	color: transparent;
	outline: none;
	width: 8px;
	height: 8px;
	display: block;
	border-radius: 50%;
	background: #DDDDDD;
	border: none;
}

.slick-dots .slick-active button {
	background: #363636;
}

@media screen and (max-width: 568px) {
	.slider {
		width: 90%;
		height: 85vh;
	}

	.slider-item {
		width: 90%;
	}
}

/* ------------------------------------
   newsbox
   ------------------------------------*/
#newsbox {
	clear: both;
	margin-top: 20px;
	padding: 10px;
}

dl::after {
	content: "";
	display: block;
	clear: both;
}

dt, dd {
	padding: 10px;
	font-size: 2rem;
	border-top: 1px solid #005C82;
	box-sizing: border-box;
	line-height: 1.5;
	float: left;
}

dt:first-of-type,
dd:first-of-type {
	border: 0;
}

dt {
	width: 5rem;
	font-weight: bold;
	text-align: center;
}

dd {
	width: -webkit-calc(100% - 5em);
	width: calc(100% - 5rem);
}

.title {
	display: inline-block;
	padding-left: 8px;
}

.selection {
	display: none;
}

#page-1 {
	display: block;
}

@media screen and (max-width: 700px) {
	dt, dd {
		font-size: 1.8rem;
	}

	dd {
		border-bottom: 1px dotted #ccc;
	}

	dt {
		text-align: left;
	}

}

/* ------------------------------------
   calendar
   ------------------------------------*/

.calendar_top {
	position: relative;
}

.icon {
	position: absolute;
	top: 8px;
	right: 0;
}

.fc-today-button,
.fc-daygrid-day-number {
	font-size: 1.6rem !important;
}

.fc .fc-button,
.fc .fc-button .fc-icon {
	font-size: 1.6rem !important;
}

.fc .fc-toolbar-title {
	font-size: 2.2rem !important;
}

.fc-col-header-cell-cushion {
	padding: 10px 40px;
	font-size: 1.8rem;
}

.fc-h-event .fc-event-title-container {
	text-align: center;
}

.fc-event-title {
	font-size: 1.6rem;
}

/* ------------------------------------
   staff
   ------------------------------------*/

.staff_wrap {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.image_box {
	display: inline-block;
	width: calc(50% - 2rem);
	margin: 0 0.5rem;
}

.staff_box {
	display: inline-block;
	width: calc(50% - 2rem);
	margin: 0 0.5rem;
	text-align: left;
	position: relative;
}

.staff_box .text_box {
	margin-top: 30px;
	position: absolute;
	width: calc(100% + 20px);
	text-align: left;
	right: -20px;
	padding: 20px;
	background: #FFFFFF;
	border-top: solid #FFEF65 5px;
	border-left: solid #363636 1px;
	border-right: solid #363636 1px;
	border-bottom: solid #363636 1px;
}

.box-2 .text_box {
	margin-top: 20px;
	padding: 20px;
	text-align: left;
	background: #FFFFFF;
	border-top: solid #FFEF65 5px;
	border-left: solid #363636 1px;
	border-right: solid #363636 1px;
	border-bottom: solid #363636 1px;
}

@media screen and (max-width: 700px) {

	.image_box,
	.staff_box {
		display: block;
		width: 100%;
	}

	.staff_box {
		order: 1;
	}

	.staff_box .text_box {
		margin-top: 10px;
		position: relative;
		width: 100%;
		right: 0;
		top: 0;
	}
}

/* ------------------------------------
   acccss
   ------------------------------------*/

dl.acccss {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 5px;
}

dl.acccss dt {
	background: #005C82;
	color: #FFF;
	font-weight: bold;
	padding: 10px 30px;
	width: 20%;
}

dl.acccss dd {
	padding: 10px;
	width: 80%;
}

.access_btn {
	padding: 10px 20px;
	background: #005C82;
	color: #FFF;
	font-weight: bold;
}

@media screen and (max-width: 700px) {
	dl.acccss dt {
		width: 100%;
		margin-top: 20px;
	}

	dl.acccss dd {
		width: 100%;
	}
}

/* ------------------------------------
   footer
   ------------------------------------*/
footer {
	background: #707070;
	width: 100%;
	margin-top: 60px;
	padding-top: 60px;
}

footer ul {
	list-style-type: none;
	text-align: left;
}

footer li {
	padding-bottom: 15px;
}

footer li::before {
	font-family: "Font Awesome 5 Free";
	content: '\f105';
	font-weight: 900;
	color: #FFF;
	font-size: 2rem;
}

footer a {
	color: #FFF;
	font-size: 2rem;
	padding-left: 5px;
	transition: all .3s;
}

footer a:hover {
	opacity: 0.6;
}

#copyright {
	background: #fff;
	padding: 20px 0;
	text-align: center;
}

@media screen and (max-width: 568px) {
	#copyright p {
		font-size: 1.3rem;
	}
}


/* ------------------------------------
   tab切替
   ------------------------------------*/
.tab-wrap {
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0;
}

.tab-wrap:after {
	content: '';
	width: 100%;
	height: 3px;
	background: #26C6DA;
	display: block;
	order: -1;
}

.tab-label {
	color: White;
	font-size: 1.4rem;
	background: LightGray;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
	white-space: nowrap;
	text-align: center;
	padding: 10px .5em;
	order: -1;
	position: relative;
	z-index: 1;
	cursor: pointer;
	border-radius: 5px 5px 0 0;
	flex: 1;
}

.tab-label:not(:last-of-type) {
	margin-right: 5px;
}

.tab-content {
	width: 100%;
	height: 0;
	overflow: hidden;
	opacity: 0;
}

/* アクティブなタブ */
.tab-switch:checked+.tab-label {
	background: #26C6DA;
}

.tab-switch:checked+.tab-label+.tab-content {
	height: auto;
	overflow: auto;
	padding: 15px;
	opacity: 1;
	transition: .5s opacity;
	box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}

/* ラジオボタン非表示 */
.tab-switch {
	display: none;
}

/* ------------------------------------
   フロー
   ------------------------------------*/
.stepbar {
	margin: 0 auto;
	width: 80%;
}

.stepbar .stepbarwrap {
	margin: 2em 0;
	position: relative;
}

.stepbar .stepbarwrap .steptitle {
	display: flex;
	align-items: top;
}

.stepbar .stepbarwrap .steptitle .stepcircle {
	display: inline-block;
	width: 3rem;
	height: 3rem;
	content: "";
	border-radius: 50%;
	background-color: #fff;
	border: 1px solid #363636;
}

.stepbar .stepbarwrap .steptitle .stepnum {
	padding-left: 1em;
	font-size: 2em;
	color: #363636;
	font-weight: bold;
	margin-bottom: 20px;
}

.stepbar .stepbarwrap .steptxt {
	padding-left: 6em;
}

.stepbar .stepbarwrap .steptxt .txt {
	font-size: 2em;
}

.stepbar .stepbarwrap .steptxt a {
	background: #005C82;
	color: #FFFFFF;
	font-size: 2rem;
	font-weight: bold;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 25px;
}

.stepbar .stepbarwrap .stepline {
	width: 1px;
	height: calc(100% + 2em);
	background-color: #363636;
	position: absolute;
	top: 0;
	left: 1.5em;
	z-index: -1;
}

.stepbarwrap:last-of-type .stepline:last-of-type {
	display: none;
}

@media screen and (max-width: 960px) {
	.stepbar {
		width: 90%;
	}
}

@media screen and (max-width: 700px) {

	.stepbar .stepbarwrap .steptitle .stepnum {
		font-size: 1.8em;
	}

	.stepbar .stepbarwrap .steptxt .txt {
		font-size: 1.5rem;
		line-height: 2.8rem;
	}

	.stepbar .stepbarwrap .steptxt a {
		display: block;
		width: 200px;
		font-size: 1.5rem;
		text-align: center;
	}
}

/* ------------------------------------
    グラフ関連
   ------------------------------------*/
.chart-wrapper {
	width: 40vh;
	margin: auto;
}

.number {
	text-align: center;
	font-weight: bold;
	font-size: 3rem;
}

.number::after {
	content: '%';
	font-weight: bold;
	font-size: 3rem;
}

/* ------------------------------------
    yoyaku
   ------------------------------------*/

table.yoyaku_table {
	width: 100%;
}

.contact {
	width: 980px;
	margin: 0 auto;
	padding: 60px 0;
}

.contact-ttl {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 40px;
	text-align: center;
}

.contact-item,
.contact-body {
	padding: 20px;
	border: 1px solid #ccc;
	font-size: 1.8rem;
}

.contact-item {
	background: #DDDDDD;
}

.contact-body {
	width: 70%;
}

.form-text {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	max-width: 400px;
}

.form-textarea {
	width: 100%;
	padding: 10px;
	height: 200px;
	border-radius: 5px;
	border: 1px solid #ccc;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.contact-submit {
	width: 40%;
	background-color: #333;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	margin: 0 20px;
	font-size: 16px;
	padding: 15px;
	border-radius: 100vh;
	border: none;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	transition: all .3s;
}

.contact-submit:hover {
	opacity: 0.8;
}

input:focus,
textarea:focus {
	box-shadow: 0 0 5px 0 rgba(255, 183, 77, 1);
	border: 2px solid #FFF !important;
	outline: 0;
}

input, textarea {
	font-size: 1.8rem;
}

.required {
	font-size: 0.9rem;
	background: #D81010;
	color: #FFF;
	padding: 2px 5px;
	border-radius: 5px;
	margin-left: 10px;
}


@media screen and (max-width: 980px) {
	.contact {
		width: 95%;
	}
}

@media screen and (max-width: 700px) {
	.contact-item,
	.contact-body {
		padding: 20px 10px;
		font-size: 1.5rem;
	}

	input, textarea {
		font-size: 1.5rem;
	}

	.required {
		font-size: 1rem;
		display: block;
	}
	
}